flows/both-sensors-flow.json
[
    {
        "id": "farm_both_tab",
        "type": "tab",
        "label": "Farmers IoT — both sensors",
        "disabled": false,
        "info": "Receives readings from the water tank probe (Module 1) and the soil\nprobe (Module 2), and serves a live page at GET / so you can watch both\nfrom a phone browser.\n\nWorks whether the two sensors are on one ESP8266 or two — each has its\nown endpoint, so nothing cares where the POST came from.\n\nSUPERSEDES flows/water-level-flow.json. Do not import both: two `http in`\nnodes on /water will conflict.\n\nCore nodes only — no node-red-dashboard install. Every extra install step\nis a place a build dies on someone else's phone.\n\nTest with no hardware at all:\n\n    curl -X POST http://localhost:1880/water -H 'Content-Type: application/json' \\\n         -d '{\"node\":\"water-tank-1\",\"ok\":true,\"raw\":139,\"depth_mm\":113}'\n\n    curl -X POST http://localhost:1880/soil -H 'Content-Type: application/json' \\\n         -d '{\"node\":\"soil-bed-1\",\"ok\":true,\"moisture_pct\":22.4,\"temp_c\":20.2,\"ec\":0}'\n\nThen open http://<phone-ip>:1880/ in a browser.\n"
    },
    {
        "id": "both_notes",
        "type": "comment",
        "z": "farm_both_tab",
        "name": "READ ME — endpoints, payloads, and the one thing people forget",
        "info": "ENDPOINTS\n  POST /water            Module 1, the QDY30A tank probe\n  POST /soil             Module 2, the THC-S soil probe\n  GET  /valve            returns 1/0 — the node POLLS this for the valve\n  POST /valve/set?v=1|0  the page Open/Close buttons set the desired state\n  GET  /                 live page showing both sensors + valve buttons\n\nVALVE IS MANUAL FOR NOW: no moisture thresholds. The buttons set\nflow.valveCmd; the node polls GET /valve every ~1s and drives the relay.\nThe node echoes its ACTUAL pin state back in the /soil payload as `valve`,\nso the page can show confirmed vs commanded.\n\nTHE ONE THING PEOPLE FORGET: every `http in` needs an `http response`.\nWithout it the request never completes and the ESP blocks until timeout.\n",
        "x": 250,
        "y": 60,
        "wires": []
    },
    {
        "id": "both_water_in",
        "type": "http in",
        "z": "farm_both_tab",
        "name": "POST /water",
        "url": "/water",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "both_water_store",
                "both_water_resp",
                "both_water_debug"
            ]
        ]
    },
    {
        "id": "both_water_resp",
        "type": "http response",
        "z": "farm_both_tab",
        "name": "200 OK",
        "statusCode": "200",
        "headers": {},
        "x": 420,
        "y": 200,
        "wires": []
    },
    {
        "id": "both_water_debug",
        "type": "debug",
        "z": "farm_both_tab",
        "name": "water raw",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 80,
        "wires": []
    },
    {
        "id": "both_water_store",
        "type": "function",
        "z": "farm_both_tab",
        "name": "store water",
        "func": "// Keep the latest reading in flow context so the page node can read it.\n// Stamped with an ARRIVAL TIME, because a node that stopped reporting looks\n// identical to one that never started unless you track when you last heard it.\nconst p = msg.payload;\nflow.set(\"water\", Object.assign({}, p, { at: Date.now() }));\n\n// ok:false means the ESP is alive and the probe is not. Show it as a fault\n// rather than dropping it — that's a different repair job from silence.\nif (p.ok === false) {\n    node.status({ fill: \"red\", shape: \"ring\", text: \"probe fault: \" + p.error });\n    return null;\n}\n\nlet text = p.depth_mm + \" mm\";\nif (p.percent !== undefined) text += \"  (\" + p.percent + \"%)\";\nnode.status({ fill: \"green\", shape: \"dot\", text: text });\n\nreturn { payload: p.depth_mm, topic: p.node };\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "both_soil_in",
        "type": "http in",
        "z": "farm_both_tab",
        "name": "POST /soil",
        "url": "/soil",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "both_soil_store",
                "both_soil_resp",
                "both_soil_debug"
            ]
        ]
    },
    {
        "id": "both_soil_resp",
        "type": "http response",
        "z": "farm_both_tab",
        "name": "200 OK",
        "statusCode": "200",
        "headers": {},
        "x": 420,
        "y": 360,
        "wires": []
    },
    {
        "id": "both_soil_debug",
        "type": "debug",
        "z": "farm_both_tab",
        "name": "soil raw",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 240,
        "wires": []
    },
    {
        "id": "both_soil_store",
        "type": "function",
        "z": "farm_both_tab",
        "name": "store soil",
        "func": "const p = msg.payload;\nflow.set(\"soil\", Object.assign({}, p, { at: Date.now() }));\n\nif (p.ok === false) {\n    node.status({ fill: \"red\", shape: \"ring\", text: \"probe fault: \" + p.error });\n    return null;\n}\n\nnode.status({\n    fill: \"green\", shape: \"dot\",\n    text: p.moisture_pct + \" %  |  \" + p.temp_c + \" C  |  EC \" + p.ec\n});\n\nreturn { payload: p.moisture_pct, topic: p.node };\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "both_page_in",
        "type": "http in",
        "z": "farm_both_tab",
        "name": "GET /",
        "url": "/",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "both_page_build"
            ]
        ]
    },
    {
        "id": "both_page_build",
        "type": "function",
        "z": "farm_both_tab",
        "name": "build page",
        "func": "// A live page from core nodes only — no node-red-dashboard install.\n// Every extra install step is a place a build dies on someone else's phone.\nconst now = Date.now();\nconst STALE_MS = 90000;   // ~1.5x the firmware's default 60s report interval\n\nfunction card(title, r, body) {\n    if (!r) {\n        return '<div class=\"c wait\"><h2>' + title + '</h2>'\n             + '<p class=\"big\">--</p><p class=\"s\">waiting for first reading</p></div>';\n    }\n    const secs = Math.round((now - r.at) / 1000);\n    if (r.ok === false) {\n        return '<div class=\"c bad\"><h2>' + title + '</h2>'\n             + '<p class=\"big\">FAULT</p><p class=\"s\">' + r.error + '</p>'\n             + '<p class=\"s\">' + secs + 's ago</p></div>';\n    }\n    const stale = (now - r.at) > STALE_MS;\n    return '<div class=\"c ' + (stale ? 'stale' : 'good') + '\"><h2>' + title + '</h2>'\n         + body(r)\n         + '<p class=\"s\">' + secs + 's ago' + (stale ? ' &mdash; STALE' : '') + '</p></div>';\n}\n\nconst waterCard = card('Water tank', flow.get('water'), function (r) {\n    let s = '<p class=\"big\">' + r.depth_mm + '<span>mm</span></p>';\n    if (r.percent !== undefined) s += '<p class=\"s\">' + r.percent + '% full</p>';\n    if (r.raw !== undefined) s += '<p class=\"s\">raw ' + r.raw + '</p>';\n    return s;\n});\n\nconst soilCard = card('Soil', flow.get('soil'), function (r) {\n    return '<p class=\"big\">' + r.moisture_pct + '<span>%</span></p>'\n         + '<p class=\"s\">' + r.temp_c + ' &deg;C &nbsp;|&nbsp; EC ' + r.ec + ' &micro;S/cm</p>';\n});\n\n// Valve — MANUAL. flow.valveCmd is what the buttons set (the desired state).\n// The node echoes its ACTUAL pin state back in the /soil payload as `valve`,\n// shown here as confirmation — commanded and confirmed are not the same thing.\nconst vcmd = flow.get('valveCmd') ? 1 : 0;\nconst soilR = flow.get('soil');\nconst confirmed = (soilR && soilR.valve) ? soilR.valve : null;\nconst valveCard =\n    '<div class=\"c ' + (vcmd ? 'vopen' : 'vclosed') + '\"><h2>Valve &mdash; manual</h2>'\n  + '<p class=\"big\">' + (vcmd ? 'OPEN' : 'CLOSED') + '</p>'\n  + '<div class=\"btns\">'\n  + '<button class=\"b bo' + (vcmd ? ' on' : '') + '\" onclick=\"setValve(1)\">Open</button>'\n  + '<button class=\"b bc' + (vcmd ? '' : ' on') + '\" onclick=\"setValve(0)\">Close</button>'\n  + '</div>'\n  + '<p class=\"s\">' + (confirmed ? 'node reports: ' + confirmed : 'no node confirmation yet') + '</p></div>';\n\nmsg.headers = { 'content-type': 'text/html; charset=utf-8' };\nmsg.payload =\n'<!DOCTYPE html><html><head><meta charset=\"utf-8\">'\n+ '<meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">'\n+ '<meta http-equiv=\"refresh\" content=\"2\">'\n+ '<title>Farmers IoT</title><style>'\n+ 'body{margin:0;padding:16px;background:#12161c;color:#e8eef6;'\n+ 'font-family:system-ui,-apple-system,sans-serif}'\n+ 'h1{font-size:1.1rem;font-weight:600;color:#8fa3bb;margin:0 0 16px}'\n+ '.g{display:grid;gap:12px;grid-template-columns:repeat(auto-fit,minmax(240px,1fr))}'\n+ '.c{background:#1b212b;border-radius:12px;padding:18px;border-left:5px solid #3a4553}'\n+ '.c.good{border-left-color:#3fb950}.c.stale{border-left-color:#d29922}'\n+ '.c.bad{border-left-color:#f85149}.c.wait{border-left-color:#3a4553}'\n+ '.c.vopen{border-left-color:#3fb950}.c.vclosed{border-left-color:#3a4553}'\n+ 'h2{font-size:.8rem;text-transform:uppercase;letter-spacing:.08em;'\n+ 'color:#8fa3bb;margin:0 0 10px;font-weight:600}'\n+ '.big{font-size:2.6rem;font-weight:700;margin:0;line-height:1.1}'\n+ '.big span{font-size:1rem;font-weight:500;color:#8fa3bb;margin-left:6px}'\n+ '.s{margin:6px 0 0;font-size:.85rem;color:#8fa3bb}'\n+ '.c.bad .big{color:#f85149;font-size:1.8rem}'\n+ '.btns{display:flex;gap:8px;margin-top:12px}'\n+ '.b{flex:1;padding:12px;border:0;border-radius:8px;font-size:1rem;font-weight:600;'\n+ 'cursor:pointer;background:#2a323d;color:#e8eef6}'\n+ '.b.bo.on{background:#3fb950;color:#08130a}'\n+ '.b.bc.on{background:#f85149;color:#160809}'\n+ '</style></head><body><h1>Farmers IoT Toolkit</h1><div class=\"g\">'\n+ waterCard + soilCard + valveCard\n+ '</div>'\n+ '<script>function setValve(v){'\n+ 'fetch(\"/valve/set?v=\"+v,{method:\"POST\"}).then(function(){location.reload();});'\n+ '}</script>'\n+ '</body></html>';\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 440,
        "wires": [
            [
                "both_page_resp"
            ]
        ]
    },
    {
        "id": "both_page_resp",
        "type": "http response",
        "z": "farm_both_tab",
        "name": "serve page",
        "statusCode": "200",
        "headers": {},
        "x": 510,
        "y": 440,
        "wires": []
    },
    {
        "id": "both_valve_get_in",
        "type": "http in",
        "z": "farm_both_tab",
        "name": "GET /valve",
        "url": "/valve",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 540,
        "wires": [
            [
                "both_valve_get_fn"
            ]
        ]
    },
    {
        "id": "both_valve_get_fn",
        "type": "function",
        "z": "farm_both_tab",
        "name": "valve cmd -> 1/0",
        "func": "// The node polls this to learn the desired valve state. Plain \"1\"/\"0\" so the\n// firmware needs no JSON parser. flow.valveCmd is set by the page buttons.\nmsg.payload = flow.get('valveCmd') ? '1' : '0';\nmsg.headers = { 'content-type': 'text/plain' };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 540,
        "wires": [
            [
                "both_valve_get_resp"
            ]
        ]
    },
    {
        "id": "both_valve_get_resp",
        "type": "http response",
        "z": "farm_both_tab",
        "name": "200",
        "statusCode": "200",
        "headers": {},
        "x": 540,
        "y": 540,
        "wires": []
    },
    {
        "id": "both_valve_set_in",
        "type": "http in",
        "z": "farm_both_tab",
        "name": "POST /valve/set",
        "url": "/valve/set",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 620,
        "wires": [
            [
                "both_valve_set_fn"
            ]
        ]
    },
    {
        "id": "both_valve_set_fn",
        "type": "function",
        "z": "farm_both_tab",
        "name": "set desired valve state",
        "func": "// The page's Open/Close buttons POST here with ?v=1 (open) or ?v=0 (close).\n// This only records the DESIRED state; the node applies it on its next poll and\n// reports back what the pin actually did.\nconst v = (msg.req && msg.req.query && msg.req.query.v) || msg.payload;\nconst on = String(v).indexOf('1') >= 0;\nflow.set('valveCmd', on ? 1 : 0);\nnode.status({ fill: on ? 'green' : 'grey', shape: 'dot',\n              text: on ? 'commanded OPEN' : 'commanded CLOSED' });\nmsg.payload = on ? '1' : '0';\nmsg.headers = { 'content-type': 'text/plain' };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 620,
        "wires": [
            [
                "both_valve_set_resp"
            ]
        ]
    },
    {
        "id": "both_valve_set_resp",
        "type": "http response",
        "z": "farm_both_tab",
        "name": "200",
        "statusCode": "200",
        "headers": {},
        "x": 560,
        "y": 620,
        "wires": []
    }
]
